  /* blog create publish button */
.hideMobilePublish{
  display: block;
}

@media (min-width: 1000px) {
  .hideMobilePublish{
    display: none;
  }
}

.hidePublish{
  display: none;
}

@media (min-width: 1000px) {
  .hidePublish{
    display: block;
  }
}
